.board-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  line-height: 75px;
  padding: 0;
  text-align: center;

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-top: none;
  }

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9) {
    border-bottom: none;
  }

  &:focus {
    /* Prevent items from overlapping the outline */
    position: relative;
  }

  .Game.Game--winner &:focus {
    outline: none;
  }
}
